.App {
  text-align: center;
  /* background-color: #F2F2F2;  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.catalog {
  font: Roboto;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  color: #42505C;
}

.body-text {
  font: Roboto;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
}

.color-nav {
  background-color: white;
  border-bottom: 1px solid black;
}

.edstruments-logo {
  height: 40px;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

.school-info {
  text-align: right;
  padding-bottom: 0;
  padding-right: 5px;
}

.district {
  font-size: 11pt;
}

.school {
  font-weight: bold;
  font-size: 10pt;
}

.user-icon-circle {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color:#61dafb;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

/* .white-background {
  background-color: white;
} */

.table-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected-text {
  color: #1787E0;
}